*, *::after, *::before{
box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    background-color: #605856;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

main{
    background-color: #fff;
    min-width: 620px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}

.question-title{
    font-size: 1.6em;
    text-align: center;
}

.answers-container{
    margin-top: 20px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.answer-btn{
    padding: 15px;
    font-size: 1em;
    text-transform: capitalize;
    background-color: rgb(56, 56, 245);
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1 linear all;
}

.answer-btn:hover{
    opacity: 0.9;
}

.buttons-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.btn{
    padding: 15px;
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
    background-color: rgb(6, 6, 219);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 60%;
    letter-spacing: 1px;
    transition: 0.1s all linear;
}

.btn:hover{
    transform: scale(1.1);
}

.hide{
    display: none;
}

.correct{
    background-color: green;
}

.wrong{
    background-color: red;
}



